<div class="container-in">
    <div class="wrap">
        <h1>Drone De Clean</h1>
        <form method="post" action="/room">
            <table align="center" class="create_form">
                <tr>
                    <td>
                        <label for="userid">ユーザー名　</label>
                    </td>
                    <td>
                        <input type="text" id="userName" name="userName" class="form-control">
                    </td>
                </tr>
                
                <tr>
                    <td>
                        <label for="userid">パスワード　</label>
                    </td>
                    <td>
                        <input type="text" id="userPassword" name="userPassword" class="form-control">
                    </td>
                </tr>
            </table>

            <div class="index-enter">
                <button type="button" class="btn-enter" onclick="enter();">
                    ログイン
                </button>
            </div>
        </form>
    </div>
</div>

<script src="/javascripts/socket.js"></script>
<script src="/javascripts/enter.js"></script>
<script src="/javascripts/register.js"></script>
